/**
 * スクロールバーのカスタマイズ
 * こちらを参考：https://wemo.tech/535
 */

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: #999;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 2px #777;
}
::-webkit-scrollbar-thumb{
  background: #606060;
  border-radius: 5px;
  box-shadow: none;
}
